.param_input_text {
    /* position: relative;
    right: 20px; */
}

.param_container {
    width: 200px;
    margin-left: 20px;
}

#run_button {
    margin-top: 10px;
}

#stop_button {
    margin-top: 10px;
}

#title_div {
    text-align: center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axis_label {
    fill : "black";
}
